@charset "utf-8";

@font-face{
    font-family: 'webfont';
    src: url('../font/avant-garde-webfont.eot');
    src: url('../font/avant-garde-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/avant-garde-webfont.woff') format('woff'),
         url('../font/avant-garde-webfont.ttf') format('truetype'),
         url('../font/avant-garde-webfont.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Definições de Estilos Gerais */
*{
    padding:0;
    margin:0;    
    border:none;
}
body{
    background-color:#121212;
    background-repeat:repeat;
    background-position:top left;    
    background-image:url(../image/frame/bg_body3.jpg);
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    color:#222121;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'webfont', Arial, Helvetica, sans-serif;    
    font-weight:normal;
}
a{
    text-decoration:none;    
}
.wrapper{
    width:940px;
    margin:0 auto;
}

/* Definições de Estilos de Cabeçalho */
#header{
    margin-top:20px;
    height:171px;
}
    #header #logo{
        float:left;
        margin-bottom:20px;    
        width:204px;
        height:151px;        
    }
    
    /* Definições de Estilos do Menu Principal */
    #header #nav{
        float:right;
        width:735px;
        height:141px;
    }
        #nav .search{
            float:right;
            margin-top:20px;
            height:40px;    
            width:200px;
        }
            #nav .search .text{
                float:left;
                width:145px;
                height:40px;
                padding-left:15px;
                color:#f1f1f1;
                font-family: 'webfont', Arial, Helvetica, sans-serif;
                background-color:#222121;    
                font-size:1em;
                border-radius:5px 0px 0px 5px;
            }
            #nav .search .button{    
                float:right;
                width:40px;
                height:40px;
                cursor:pointer;
                background-color:#222121;
                background-image:url(../image/frame/button_search.png);
                background-repeat:no-repeat;
                background-position:5px 5px;
                border-radius:0px 5px 5px 0px;
            }
                #nav .search .button:hover{                    
                    background-image:url(../image/frame/button_search-hover.png);
                }
            #nav .search .redes-sociais{
                text-align:right;
            }    
                #nav .search .redes-sociais img{
                    margin-top:10px;
                    margin-right:5px;
                }
        #menu{
            float:right;
            clear:both;
            margin-top:71px;
            height:40px;    
        }
            #menu ul{
                list-style:none;    
            }
            #menu li{
                float:left;
                display:inline;    
                padding-left:1px;
            }
            #menu a{
                display:block;
                padding:0 15px;
                height:40px;
                line-height:40px;
                color:#F7B82A;
                background-color:#303030;
                font-family: 'webfont', Arial, Helvetica, sans-serif;    
                font-size:1.1em;
                text-decoration:none;    
                border-radius:5px 5px 0px 0px;
            }
            #menu li a:hover, #menu .active a{
                color:#E0040B;
                background-color:#F1F1F1;
            }

/* Definições de Estilos de Conteúdo */
#container{
    position:relative;
    float:left;
    width:100%;
    height:auto;
    font-size:0.9em;
    min-height:500px;
    background-color:#F1F1F1;
    border-radius:5px 0px 5px 5px;
}
    #container a{
        color:#3FA5EA;
    }
    #container a:hover{    
        text-decoration:underline;
    }
    #container h1{
        font-weight:normal;
        font-size:1.2em;
        margin-bottom:10px;    
        color:#FFF;
        background-color:#E03B4B;
        padding:7px 15px;    
        border-radius:5px;
    }
    #container button, #container .button{
        background-color:#E03B4B;
        padding:7px 15px;    
        border-radius:5px;
        cursor:pointer;
        font-family: 'webfont', Arial, Helvetica, sans-serif;    
        color:#DDDBDB;
        font-size:1em;
    }
        #container button:hover, #container .button:hover{
            background-color:#E0040B;
            color:#FFF;    
        }
        #container button a{
            color:#DDDBDB;    
        }
    #container input, #container textarea{
        font-family:Arial, Helvetica, sans-serif;
        border-radius:5px;
        background-color:#F7B82A;
        font-size:0.9em;
    }
    #container input{
        height:30px;    
    }
    
    #container #content{
        float:right;
        width:690px;
        height:auto;
        min-height:500px;
        margin-top:20px;    
        margin-bottom:20px;
        background-color:#F1F1F1;
    }
    
    #container #sidebar{
        float:left;
        margin-right:20px;
        height:auto;
        width:210px;
        margin:20px;    
    }
        #sidebar #submenu{
            width:100%;
            height:auto;    
            min-height:100px;    
        }
            #submenu .text{
                padding-left:10px;
                width:200px;    
            }
            #submenu .button{
                float:right;
                margin-top:5px;    
            }
            #submenu .link{
                padding-top:5px;    
            }

        #sidebar #series{
            margin-top:20px;
            margin-bottom:20px;            
        }
            #series ul{
                list-style:none;
            }
            #series li{
                height:20px;
                line-height:20px;
                vertical-align:middle;
                padding-left:25px;
                overflow:hidden;
                background-image:url(../image/frame/bullet_list.png);
                background-repeat:no-repeat;
                background-position:left center;
            }
                #series li:hover{
                    background-image:url(../image/frame/bullet_list-hover.png);    
                }
    #content .series-box{
        clear:both;
        width:100%;    
    }
    #content .box{
        float:left;
        width:210px;
        text-align:center;
        margin-right:20px;
        margin-bottom:30px;    
    }
        #content .box img{
            border-radius:5px;
            border:2px solid #DCDCDC;
            height:277px;
            width:210px;
        }
            #content .box img:hover{
                border-color:#E03B4B;
            }
        #content .box button{
            margin-top:10px;
        }
        #content .box h3{
            margin-top:5px;
            font-size:1.1em;
            font-weight:bold;
        }
        #content .box h2{
            margin-top:5px;
            font-size:1em;
        }
    #content #page{
        clear:both;
        float:right;
        padding-top:20px;
        margin-bottom:10px;
        margin-right:20px;
        width:100%;
        border-top:2px solid #DCDCDC;
        text-align:right;
    }
        #page a{
            background-color:#F7B82A;
            padding:7px 15px;    
            border-radius:5px;
            text-decoration:none !important;
            font-family: 'webfont', Arial, Helvetica, sans-serif;    
            color:#222121;
            font-size:0.8em;
        }
            #page a:hover, #page .active, #page .current{
                background-color:#E03B4B;    
                color:#FFF;
            }
    
/* Definições de Estilos de Rodapé */
#footer{
    clear:both;
    height:270px;
    font-size:0.8em;
    margin-top:20px;
    margin-bottom:20px;
}            